<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

        <resultMap id="user" type="diary.domain.UserVo">
            <result property="userId"           column="USER_ID"/>
            <result property="userPassword"     column="USER_PASSWORD"/>
            <result property="userName"         column="USER_NAME"/>
            <result property="userTel"          column="USER_TEL"/>
            <result property="userEmail"        column="USER_EMAIL"/>
            <result property="userType"         column="USER_TYPE"/>
            <result property="createDateTime"   column="CREATE_DATE_TIME"/>
            <result property="updateDateTime"   column="UPDATE_DATE_TIME"/>
        </resultMap>

        <!-- 등록 -->
        <insert id="create">
            <![CDATA[
            INSERT INTO TB_COMMU_USER (
                USER_ID
                , USER_PASSWORD
                , USER_NAME
                , USER_TEL
                , USER_EMAIL
                , USER_TYPE
                , CREATE_DATE_TIME
                , UPDATE_DATE_TIME
            ) VALUES (
                #{userId}
                , #{userPassword}
                , #{userName}
                , #{userTel}
                , #{userEmail}
                , #{userType}
                , #{createDateTime}
                , #{updateDateTime}
            )
            ]]>
        </insert>

        <!-- 읽기 -->
        <select id="read" resultMap="user">
            <![CDATA[
            SELECT
                USER_ID
                , USER_PASSWORD
                , USER_NAME
                , USER_TEL
                , USER_EMAIL
                , USER_TYPE
                , CREATE_DATE_TIME
                , UPDATE_DATE_TIME
            FROM TB_COMMU_USER
            WHERE USER_ID = #{userId}
            LIMIT 1
            ]]>
        </select>

        <!-- 목록 -->
        <select id="all" resultMap="user">
            <![CDATA[
            SELECT
                USER_ID
                , USER_PASSWORD
                , USER_NAME
                , USER_TEL
                , USER_EMAIL
                , USER_TYPE
                , CREATE_DATE_TIME
                , UPDATE_DATE_TIME
            FROM TB_COMMU_USER
            WHERE USER_ID IS NOT NULL
            ]]>
            <if test="userId != null and userId != ''">
                <![CDATA[
                AND USER_ID LIKE CONCAT('%', #{userId}, '%')
                ]]>
            </if>
            <![CDATA[
            ORDER BY USER_TYPE ASC, USER_NAME ASC
            ]]>
        </select>

        <!-- 수정 -->
        <update id="update">
            <![CDATA[
            UPDATE TB_COMMU_USER SET UPDATE_DATE_TIME = #{updateDateTime}
            ]]>
            <if test="userTel != null and userTel != ''">
                , USER_TEL = #{userTel}
            </if>
            <if test="userName != null and userName != ''">
                , USER_NAME = #{userName}
            </if>
            <if test="userPassword != null and userPassword != ''">
                , USER_PASSWORD = #{userPassword}
            </if>
            <if test="userEmail != null and userEmail != ''">
                , USER_EMAIL = #{userEmail}
            </if>
            <if test="userType != null and userType != ''">
                , USER_TYPE = #{userType}
            </if>
            <![CDATA[
            WHERE USER_ID = #{userId}
            LIMIT 1
            ]]>
        </update>

        <!-- 삭제 -->
        <delete id="delete">
            <![CDATA[
            DELETE FROM TB_COMMU_USER
            WHERE USER_ID = #{userId}
            LIMIT 1
            ]]>
        </delete>

</mapper>